{% extends 'base.html.twig' %}
    {% block body %}
        <div class="container" style="margin: auto">
            <div class="h-100 p-5 bg-light border rounded-3 mt-5">
                <h1 class="display-5 fw-bold">Pickle Rick caught an error.</h1>
                <p class="col-md-8 fs-4">{{ message }}</p>
            </div>
        </div>
    {% endblock %}
